---

---

<footer>
	<div>
		<a href="https://codetv.dev">&larr; back to CodeTV.dev</a>
	</div>

	<div>
		<p>© CodeTV</p>
		<p><a href="mailto:info@codetv.dev">info@codetv.dev</a></p>
		<p><a href="https://calendly.com/codetv/new-project">Book a call</a></p>
	</div>
</footer>

<style>
	footer {
		align-items: center;
		background: color-mix(in oklch, var(--black) 92%, var(--white));
		border-block-start: 0.5px solid
			color-mix(in oklch, var(--white) 80%, transparent);
		color: var(--gray-light);
		display: flex;
		justify-content: space-between;
		margin-inline: auto;
		padding: 60px max(5dvi, (100dvi - 1600px) / 2);

		a {
			color: inherit;
		}
	}
</style>
