---
import CodeTVLogo from '../assets/codetv-logo.svg';
---

<header>
	<a href="/" rel="home">
		<CodeTVLogo />
	</a>

	<nav>
		<a href="https://codetv.dev">back to CodeTV</a>
		<a
			href="https://calendly.com/codetv/new-project"
			class="button"
			data-open="modal">Book A Call</a
		>
	</nav>
</header>

<style>
	header {
		align-items: center;
		background: color-mix(in oklch, var(--black) 75%, transparent);
		backdrop-filter: blur(20px);
		display: flex;
		justify-content: space-between;
		line-height: 1;
		margin-inline: auto;
		padding: 10px;
		z-index: 100;

		@media (min-width: 1280px) {
			border-radius: 8px;
			box-shadow: 0 0 20px var(--black);
			inset-block-start: 25px;
			max-inline-size: min(90dvi + 20px, var(--max-width) + 20px);
			position: sticky;
		}
	}

	nav {
		align-items: center;
		display: flex;
		gap: 40px;
	}

	a {
		text-decoration: none;

		&[rel='home'] {
			max-block-size: 10cqi;

			svg {
				aspect-ratio: 211 / 50;
				inline-size: 100%;
				block-size: 8cqi;
				max-block-size: 50px;
			}
		}

		nav &:not(.button) {
			color: inherit;
			display: none;

			@media (min-width: 1280px) {
				display: block;
			}
		}
	}
</style>
